<div class="container">

    <div class="row">
        <div class="col-md-12">
        <h5 class="my-3">Settings</h5>
        <li><a href="/location/create">Add Locations</a></li>
        <li><a href="/user/admin/featured">Edit Feature List</a></li>
    </div>
    </div>

<div class="row">
    <div class="col-md-8">
    <h5 class="my-3">List of Users and their Bars</h5>
    
        <ol>
    <% users.forEach((user)=> { %> 
        <% if(user.isBarOwner){ %>
        <div class="mb-4">

            <li><div><%= user.fullname %> - <%= user.email %> </div></li>

        <% user.barsOwned.forEach((bar) => { %>
            <li class="list-group-item"><%= bar.barName %></li>
        <% }) %>
    
    </div>
    <% } %>
    <% }) %>
    </ol>
</div>


<div class="col-md-4">
<h5 class="my-3">List of Site Patrons</h5>

    <ol>
    <% users.forEach((user)=> { %> 
        <% if(user.isPatron){ %>
        <div class="mb-4">

            <li><div><%= user.fullname %> - <%= user.email %> </div></li>

        </div>
        <% } %>
        <% }) %>
        </ol>
    </div>
</div>
</div>