<div class="container">

  <p class="mt-3"><a href="/bar/locations/<%= barFound.barLocate._id %>">Bars in <%= barFound.barLocate.locationName %> </a></p>
    
    <% if(barFound.final_rating){ %>
      <h4 class="my-3"><u><%= barFound.barName %></u></h4>
      Ratings: <%=barFound.final_rating %> out of 5 (<%= barFound.rate_reviews.length %> Users)
    <% } %>

    <% let dispImg; %>
    <% if(barFound.barImage){ %>
      <% dispImg = barFound.barImage %>
    <% } else { %> 
       <% dispImg = 'https://static.independent.co.uk/s3fs-public/thumbnails/image/2019/08/02/10/beer-main-0.jpg?w968h681' %>
      <% } %>

        <div class="card my-3">
            <img src= '<%= dispImg %>'
            style="height:50vh; object-fit: cover;" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= barFound.barName %></h5>
              <p class="card-text text-muted">Opening Hours: <%= barFound.openingHour %></p>
              <p class="card-text text-muted">Address: <%= barFound.address %></p>
              <p class="card-text text-muted">Contact No: <%= barFound.contactNo %></p>
              <p class="card-text text-muted">Happy Hours: <%= barFound.HHStartTime %> - <%= barFound.HHEndTime %></p>
              <p class="card-text text-muted">Brew: <%= barFound.pintPrice[0].brewType %> 
                  <li class="list-group-item">Happy Hour @ $<%=barFound.pintPrice[0].HHprice %></li>
                  <li class="list-group-item">Normal Hour @ $<%=barFound.pintPrice[0].NHprice %></li> 
                </p>
              <% if(barFound.pintPrice[1].brewType) { %>
                <p class="card-text text-muted">Brew: <%= barFound.pintPrice[1].brewType %>
                  <li>Happy Hour @ $<%=barFound.pintPrice[1].HHprice %></li>
                  <li>Normal Hour @ $<%=barFound.pintPrice[1].NHprice %></li> 
                </p>
              <% } %>
              
              <p class="card-text text-right"><small class="text-muted"><%= barFound.barLocate.locationName %></small></p>
            </div>
          </div>


          <% if(currentUser){ %>
            <% if(currentUser.isPatron){ %>
            
          <div class="mb-5">
            <h5>Rate Bar</h5>

            <hr>
            
            <form action="/bar/rate/<%=barFound._id%>" method="POST">
              <label for="">1</label>
              <input type="radio" name="rate_reviews" id="" value="1"><br>
              <label for="">2</label>
              <input type="radio" name="rate_reviews" id="" value="2"><br>
              <label for="">3</label>
              <input type="radio" name="rate_reviews" id="" value="3"><br>
              <label for="">4</label>
              <input type="radio" name="rate_reviews" id="" value="4"><br>
              <label for="">5</label>
              <input type="radio" name="rate_reviews" id="" value="5" checked><br>
              <button class="btn btn-success" type="submit">Rate!</button>
            </form>
          </div>

        <% } %>
        <% } else {%> 
          <div class="mb-5"> Log In <a href="/auth/login">here</a> to Rate! </div>

          <% } %>

</div>