<div class="container">

    <h2 class="my-3">Bars in <%= barsInLocation.locationName %></h2>

    <div class="row row-cols-1 row-cols-md-3 my-5">
    <% barsInLocation.locateBar.forEach((bar) => { %>

        <div class="col-md-4 mb-3">

            <div class="card">
                <a class="text-dark" href="/bar/bar/<%=bar._id%>">
                <% if(bar.barImage){ %>
                    <img src="<%=bar.barImage %>" class="card-img-top "  alt="...">
               <% } else { %>
                    <img src="/img/noImgph.jpg" class="card-img-top" alt="...">
               <% } %>
                <div class="card-body">
                <h5 class="card-title"><%= bar.barName %></h5>
                <% if(bar.final_rating){ %>
                    <p class="card-text">Ratings: <%= bar.final_rating %> / 5 (<%=bar.rate_reviews.length %>)</p>
                <% } else { %>
                    <p class="card-text">Ratings: --</p>
                <% } %>
                <p class="card-text text-muted">Brews: <%= bar.pintPrice[0].brewType %>
                   <% if(bar.pintPrice[1].brewType){ %>
                    , <%= bar.pintPrice[1].brewType %>
                        <% } %>
                   </p>
                   <p class="card-text">Happy Hour Price: $<%= bar.HHStartPrice %> onwards</p>
                <p class="card-text">Happy Hours: <%= bar.HHStartTime %> -  <%= bar.HHEndTime %></p>
                <p class="card-text"><small>Normal Price: $<%= bar.pintPrice[0].NHprice %> onwards</small></p>
                </div>
                </a>
            </div>
        </div>


    <% }) %>

    </div>
</div>